/* styles.css */

header {
    background-color: #ffffff82;
    color: #000000;
    padding: 20px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.navbar ul {
    list-style: none;
    padding: 0;
    text-align: right; /* ナビゲーションリンクを右揃えにする */
}

.navbar li {
    display: inline; /* ナビゲーションリンクを横並びに配置 */
    margin-left: 20px; /* ナビゲーションリンク間の間隔を設定 */
}

.navbar a {
    color: #0078e7;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.experience-table {
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
    border-collapse: collapse; 
}

.experience-table th, .experience-table td {
    padding: 8px;
    border: 1px solid #000; 
    text-align: left;
}

.experience-table th {
    background-color: #0078e7;
    color: #fff;
}

.experience-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.experience-table a {
    color: #0078e7;
    text-decoration: none;
}