/* styles.css */

header {
    background-color: #bccfce;
    color: #fff;
    padding: 20px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin-top: 20px;
}

.table th, .table td {
    padding: 8px;
    border: 1px solid black !important; /* 黒い線を追加 */
    text-align: left;
}

.table th {
    background-color: #0078e7;
    color: #fff;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table a {
    color: #0078e7;
    text-decoration: none;
}


