/* styles.css */

header {
    background-color: #ffffff82;
    color: #000000;
    padding: 20px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.experience-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin-top: 20px;
}

.experience-table th, .experience-table td {
    padding: 8px;
    border: 1px solid black; /* 黒い線を追加 */
    text-align: left;
}

.experience-table th {
    background-color: #0078e7;
    color: #fff;
}

.experience-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.experience-table a {
    color: #0078e7;
    text-decoration: none;
}
